# Exploratory Data Analysis

Exploratory Data Analysis (EDA) is one part of the Data Investigation Process that can include data cleaning, wrangling, and visualization. The "Data Moves" framework:

- Provides a structured set of categories (i.e., data moves) to describe and analyze how students engage with data

- Supports instructional design and assessment by offering a lens through which educators can identify, understand, and demonstrate data practices

Before exploring data, it is important to select datasets that are appropriate for students based on grade-level, subject area relevance, size, and number of freatures (i.e., variables). This notebook covers basic considerations that should be made before selecting datasets suitable for use in exploratory data analysis within an introductory data science course. It also provides examples of the core data moves along with explanations of output generated by each the move (e.g, a value, table, visualization, etc.).

## Selecting a Dataset

### Tidy Data

The 2014 paper *Tidy Data* presents a structured framework for organizing datasets to support efficient analysis. In a tidy dataset, each variable forms a column, each observation forms a row, and each type of observational unit is stored in a separate table. It also outlines strategies for transforming messy data into tidy form, demonstrating how this approach simplifies and strengthens data analysis practices.

Wickham, H. (2014). Tidy data. Journal of Statistical Software, 59(10), 1–23. https://doi.org/10.18637/jss.v059.i10

### Tame Data

The 2018 paper The fivethirtyeight R Package introduces the concept of tame data, which refers to datasets that are clean, well-labeled, and easy to use in teaching. Tame data minimizes the need for wrangling so students can focus on analysis. The paper highlights the importance of using structured and accessible data in introductory statistics and data science courses.

Kim, A. Y., Ismay, C., & Chunn, J. (2018). The fivethirtyeight R Package: “Tame Data” Principles for Introductory Statistics and Data Science Courses. Technology Innovations in Statistics Education, 11(1). https://doi.org/10.5070/T5111035892

## Investigating Data Like a Data Scientist

Investigating data like a data scientist involves an iterative process of making sense of information. This process includes six key phases: 

- Framing the problem
- Exploring and visualizing data
- Modeling
- Evaluating results
- Crafting a narrative
- Communicating findings

These phases reflect authentic data science practice and provide a structure that support more meaningful engagement with data in educational settings.

Rather than following a fixed procedure, this framework emphasizes the importance of habits of mind such as critical thinking, refining questions, and considering the audience. It highlights that data science relies not only on technical skills but also on decision-making, interpretation, and storytelling. When students are guided through these phases, they develop the analytical reasoning needed to navigate data and communicate insights.

## Data Investigation Process Framework


### Frame Problem

- Consider real-world phenomena and broader issues related to the problem
- Pose investigative question(s)
- Anticipate potential data and strategies

### Consider & Gather Data

- Understand possible attributes, measurements, and data collection methods needed for the problem
- Evaluate and use appropriate design and techniques to collect or source data
- Consider sample size, access, storage, and trustworthiness of data

### Process Data

- Organize, structure, clean, and transform data in efficient and useful ways
- Consider additional data cases or attributes

### Explore & Visualize Data

- Construct meaningful visualizations, static or dynamic
- Compute meaningful statistical measures
- Explore and analyze data for potential relationships or patterns that address the problem

### Consider Models

- Analyze and identify models that address the problem
- Consider assumptions and context of the models
- Recognize possible limitations

### Communicate & Propose Action

- Craft a data story to convey insight to stakeholder audiences
- Justify claims with evidence from data and propose possible action
- Address uncertainty, constraints, and potential bias in the analysis

Lee, H. S., Wilkerson, M. H., & Zuckerman, S. J. (2022). Investigating data like a data scientist: A framework for elementary, middle, and high school teachers. *Statistics Education Research Journal, 21*(2). [https://doi.org/10.52041/serj.v21i2.41](https://doi.org/10.52041/serj.v21i2.41)

# Data Moves

Data moves are strategic actions taken during data analysis to reshape and prepare datasets for interpretation. These include filtering, grouping, summarizing, calculating, merging or joining data, and creating hierarchical structures. Each move alters the structure, content, or values of a dataset, influencing what patterns become visible and what questions can be explored. By understanding these moves, learners gain insight into how data analysis is an active, decision-driven process rather than a passive application of procedures.

Erickson, T., Tinker, R., & Yasuda, M. (2019). *Data moves*. UC Berkeley: The Concord Consortium. eScholarship, University of California. https://escholarship.org/uc/item/0mg8m7g6

## Summarizing

Summarizing is the process of producing and recording a summary or aggregate value, i.e., a statistic. 

- The mean is a common summary function, but it is not the only option.
- Summary measures are not limited to numerical or “typical” values.
- Some summaries are non-numerical, i.e., identifying the most common category such as the most frequently mentioned pet type ("dog") in a survey.
- The purpose of summarizing is not always to focus on the measure itself or to compare across groups; an aggregate value can also serve as data for further analysis.

## Filtering

Filtering produces a subset of data and serves at least two important purposes.

- If a dataset includes extraneous cases, filtering removes the irrelevant ones. This is sometimes called scoping.
- Filtering may be used in order to reduce the complexity or quantity of data in order to gain insight. Sometimes this is called slicing.

## Calculating

Calculating is the process of create=ing a new attribute, often represented by a new column in a data table. This typically involves calculating the values in this new attribute using a formula.

- Many new attributes are calculated using the values from one or more existing attributes. 
- Summary measures function as new, conceptual attributes as well; the difference is that they appear on group labels rather than individual data cases.

In addition to conceptual attributes, calculating can also be used to create
convenience attributes. For example, one may wish to create a categorical
attribute whose value is “tall” if an individual’s height is greater than the
mean height for their age, and “short” otherwise. Convenience attributes are quite common. Other examples include:

- Creating a new column that converts heights to inches instead of centimeters.
- Using birth dates included in a dataset to compute subjects’ ages.
- Recoding an education attribute from several categories (e.g., "GED," "high-school graduate," "one year of college," "bachelor’s degree," etc.) to fewer (perhaps, "completed high school," "completed college").

## Grouping

Grouping is used to set up a comparison among different subgroups of a dataset. Just as filtering restricts analysis to a single subset, grouping divides a dataset into multiple subsets. This division is guided by the available value(s) of some attribute or attributes so that, among the cases within each resulting group, the values of these "grouping" attributes are the same.

**Note:** Grouping and summarizing are often used together to simplify complex datasets by reducing them to fewer data points that highlight overall patterns. However, this simplification can result in a loss of detail, such as variability.

## Merging

Merging combines multiple datasets into one. The simplest form of merging concatenates datasets about the same phenomenon but from different sources, for example, combining height data from two different classrooms to make a larger dataset. 

## Joining

Joining is a more complex form of merging. It does not add new cases, but
rather adds more information (i.e., new attributes) about existing cases from a
separate dataset. For example, in a school system, student demographic data might be stored in one table and test scores in another. Using a student ID as a key, the two tables can be joined to combine information for the same students.

# Data Dive

A data dive is a focused exploratory analysis where students work closely with a dataset to uncover patterns, trends, and relationships by applying key data moves. For example, using a dataset about school lunch nutrition, students might begin by filtering to isolate meals served in a specific year or location. They could group the data by food category such as fruits, grains, or proteins to explore how nutritional content differs across types. Through summarizing, they might calculate the average number of calories or the typical sodium content for each group. Calculating might involve creating new variables, such as calories per gram or the percentage of a recommended daily intake. If additional data sources are provided, students could join datasets, such as connecting lunch menus with student demographic information, to add context and depth to their findings. These data moves help students make sense of multivariable datasets and support evidence-based insights.

## Analysis with Data Moves in Python

In this section, we present example use cases that demonstrate data moves using the Python programming language. While Python includes built-in tools and data structures for general data handling, it does not include a built-in data structure specifically designed for working with tidy data as defined by the _Tidy Data_ paper. To support the tidy data format and organize the analysis around data moves such as filtering, grouping, and summarizing, we will use the Pandas library for data wrangling, Numpy for scientific computing, and the Matplotlib library for creating visualizations.

### Importing Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Updated Starwars Dataset

Fabricio Narcizo’s blog post, Introduction to Data Analysis using the Star Wars Dataset, presents an expanded version of the original R dplyr Star Wars dataset, growing it from 14 to 25 variables. By cross-referencing Wookieepedia, he corrected and enriched the character data with new fields like birth/death details, pronouns, occupations, and abilities, resulting in a more accurate and comprehensive dataset for analysis.

#### Updated Starwars Datasheet

[Updated Starwars Datasheet](https://docs.google.com/document/d/1Gr6W0xo1pxW-TZH2GKawIASqZ7JfURmzQO1Eg2JGsC8/edit?usp=sharing)

Narcizo, F. B. (2023, December 30). Introduction to Data Analysis using the Star Wars Dataset. Retrieved from https://www.fabricionarcizo.com/post/starwars/

**Example 1.** Load the dataset into a pandas `DataFrame` called `starwars`.

In [ ]:
starwars = pd.read_csv("data/updated_starwars.csv")

### Summarzing

**Example 2.** Use the `.head()` method to display a subset of the `starwars` `DataFrame`.

In [ ]:
# .head() is a method that gives the first 5 rows of a DataFrame
starwars.head()

**Output Observations:** Each row represents a character, with columns for attributes like name, height, mass, hair color, skin color, eye color, birth year, and more. The data includes both numerical and categorical variables, with some missing values (e.g., `NaN` for hair color or birth place). Some fields, like skin color, contain multiple comma-separated values.

**Example 3.** Use the `.info()` method to display a summary of the `starwars` dataFrame.

In [ ]:
# .info() is a method that gives a quick summary of the DataFrame
# It shows the number of rows and columns
# It lists the column names and their data types
# It tells how many non-missing values are in each column
starwars.info()

**Output Observations:** The dataframe contains 87 entries (rows) and 25 variables (columns), each representing a different piece of information about Star Wars characters. Most columns use the `object` data type (often for text), while a few use `float64` for numerical values. Some columns, like `name`, `gender`, and `species`, have complete data for all characters, while others, such as `cybernetics`, `vehicles`, and `birth_place`, have many missing values.

**Example 4.** Select and display the `mass` column from the `starwars` dataFrame.

In [ ]:
# Selects the 'mass' column from the starwars DataFrame
# Returns a Series of character masses
# The index on the left corresponds to the row number (i.e., each character)
# NaN means that the mass value is missing for that character
starwars["mass"]

**Output Observations:** The output shows the values in the `mass` column for each character in the dataset. Each entry represents a character's mass in kilograms. Some values may be missing (shown as `NaN`), which means data wasn't available for those characters.

**Example 5.** Use the `.describe()` method to generate summary statistics for the `mass` column in the `starwars` dataframe.

In [ ]:
# Calculates summary statistics for the 'mass' column
# count – number of non-missing values
# mean – average mass
# std – standard deviation (shows spread)
# min – smallest mass
# 25%, 50%, 75% – quartiles (values that split the data into four parts)
# max – largest mass
starwars["mass"].describe()

**Output Observations:** There are 65 entries with non-missing values. The average (mean) mass is about 94.35 kg, but the very large maximum value (1358 kg) suggests it may be and outlier. Most character masses fall between 55 kg (25th percentile) and 84 kg (75th percentile), with the median (50th percentile) being 79 kg.

**Example 6.** Create a histogram of the `mass` column to visualize the distribution of character masses.

In [ ]:
# starwars["mass"] uses bracket notation to select a single column from the DataFrame
# The result is a pandas Series containing just the 'mass' values
# .hist() creates a histogram to show the frequency of different mass ranges
starwars["mass"].hist()

# Turns off the background grid in the plot for a cleaner visual
plt.grid(False);

**Output Observations:** Most characters have a mass between about 50 and 100 kg. A few characters have much higher masses, which appear as a bar far to the right, indicating possible outliers. The shape of the histogram appear right-skewed.

**Example 7.** Count how many times each species appears in the `species` column of the `starwars` dataframe.

In [ ]:
# starwars["species"] uses bracket notation to select the 'species' column from the DataFrame
# This returns a pandas Series containing all species values
# .value_counts() counts how many times each unique value appears
# The result is sorted by count, from most to least common
starwars["species"].value_counts()

**Output Observations:** Humans are the most common, with 38 characters, followed by Droids with 6. A few species appear multiple times (like Wookiees, Twi'leks, and Gungans), but most species appear only once. This indicates that while the dataset includes a wide variety of species, many are represented by just a single character.

**Example 8.** Create a horizontal bar chart to visualize the species counts.

In [ ]:
# starwars["species"] uses bracket notation to select the 'species' column
# .value_counts() counts how many times each species appears
# The result is saved to a variable called tbl
tbl = starwars["species"].value_counts()

# Creates a horizontal bar chart of the species counts
# kind='barh' specifies a horizontal bar plot
tbl.plot(kind = 'barh');

**Output Observations:** The chart shows that Humans are by far the most common species in the dataset, followed by Droids. A few other species like Gungans, Mirialans, and Wookiees appear more than once, but most species are represented by just one character. However, the chart is difficult to read because it includes too many categories, with a total of 39 species, which makes the plot very tall and crowded. Many of the species names are long and placed close together, causing the labels to overlap or appear cramped. Additionally, the chart is visually unbalanced because most species appear only once, making their bars very short and hard to compare, while a few species dominate the plot with much longer bars.

**Example 9.** Create a horizontal bar chart to visualize the species counts.

In [ ]:
# Count how many times each species appears
tbl = starwars["species"].value_counts()

# Combine all species from index 2 onward (everything except the top 2) 
# into a new Series labeled "Other"
other = pd.Series([tbl[2:].sum()], index=["Other"])

# Concatenate the top 2 species with the "Other" group
# Then sort the result so the bars appear in order from 
# smallest to largest
pd.concat([tbl.iloc[0:2], other]).sort_values(ascending=True).plot(kind = 'barh');

**Output Observations:**  This chart simplifies the original crowded bar plot by showing only the two most frequent species, Humans and Droids, and combining all the others into a single "Other" category. This makes the chart easier to read and still communicates the key insight. Humans make up the largest portion of the dataset, followed by Droids, while the remaining species collectively form a much smaller group.

**Example 10.** Count how many times each eye color appears in the `eye_color` column of the `starwars` dataframe.

In [ ]:
# Selects the 'eye_color' column using bracket notation
# Returns a Series of eye colors for all characters
# .value_counts() counts how many times each unique eye color appears
# The result is sorted from most to least frequent
starwars["eye_color"].value_counts()

**Output Observations:**  The output shows that the most common eye colors among characters are blue (19), brown (18), and black (11). A few other colors like orange, yellow, and red also appear multiple times. However, most of the remaining eye colors occur only once or twice, such as green-gold, dark brown, and red, blue.

**Example 11.** Count how many times each hair color appears in the `hair_color` column of the `starwars` dataframe.

In [ ]:
# Selects the 'hair_color' column from the DataFrame using bracket notation
# This returns a Series of all hair color values
# .value_counts() counts how often each unique value appears
# The result is sorted from most to least frequent
starwars["hair_color"].value_counts()

In [ ]:
# Counts how many times each unique hair color appears
# dropna=False includes missing values (NaN) in the count
# Without this, missing values would be excluded by default
starwars["hair_color"].value_counts(dropna=False)

**Output Observations:** This output shows that "none" is the most common value, appearing 36 times, followed by brown and black. The value `NaN` appears 5 times, indicating that some characters, like Droids, have missing hair color data.

**Example 12.** Create a cross-tabulation table to compare eye color and hair color. Use `pd.crosstab()` to count how many characters have each combination of eye color and hair color.

In [ ]:
# Creates a cross-tabulation of eye color (rows) and hair color (columns)
# Counts how many characters fall into each combination of eye color and hair color
# Stores the result in a new table called tbl
tbl = pd.crosstab(starwars["eye_color"], starwars["hair_color"])

# Display the resulting table
tbl

**Output Observations:** The most frequent combinations include brown eyes with black or brown hair, and blue eyes with brown, blond, or auburn hair. Some combinations, like black eyes with no hair or red eyes with no hair, also appear multiple times. Many cells in the table contain zeros, indicating that most combinations of eye and hair color do not occur. This suggests that while a few color combinations are common, the overall variety is limited, with only certain pairs appearing repeatedly in the dataset.

### Filtering

**Example 13.** Filter the `starwars` dataframe to include only rows where the character's species is `"Human"`.

In [ ]:
# Selects the 'species' column using bracket notation
# Compares each value to the string "Human"
# Returns a Series of True/False values, one for each row
# True means the character is Human; False means they are not
starwars["species"] == "Human"

In [ ]:
# Creates a Boolean Series (True/False) where True means the character is Human
mask = starwars["species"] == "Human"

# Uses the mask to filter the DataFrame and keep only Human characters
human = starwars[mask]

# Displays the first 5 rows of the filtered DataFrame
human.head()

**Example 14.** Use the `.describe()` method to generate summary statistics for the `mass` column in the `human` dataframe.

In [ ]:
# The .describe() method is used to generate summary statistics for numeric data
# It returns values like count, mean, standard deviation, min, max, and quartiles
# In this case, it's applied to the 'mass' column of the humans dataframe
human["mass"].describe()

**Output Observations:** The summary statistics show that there are 26 Human characters with recorded mass values. The average mass is about 80.9 kg, and most values fall between 76.25 kg (25th percentile) and 84 kg (75th percentile), with a median of 79 kg. The lightest character weighs 45 kg, while the heaviest is 136 kg. The standard deviation of about 18.7 indicates moderate variation in mass among Human characters.

**Example 14.** Create a histogram to visualize the distribution of mass for Human characters.

In [ ]:
# Creates a histogram of the 'mass' column for Human characters
# edgecolor="white" adds a white border around each bar
human["mass"].hist(edgecolor="white")

# Turns off the background grid
plt.grid(False);

In [ ]:
# Creates a histogram of the 'mass' column for Human characters
# bins=5 groups the data into 5 bars (bins) instead of the default number
# edgecolor="white" adds a white border around each bar
human["mass"].hist(bins=5, edgecolor="white")

# Turns off the background grid
plt.grid(False);

**Output Observations:** This histogram shows the distribution of mass for Human characters, grouped into 5 bins. Most characters have a mass between approximately 65 and 85 kg, as indicated by the tallest bar. A few characters fall below 65 kg or above 100 kg, with very few in the highest mass range near 135 kg. The shape of the distribution is slightly right-skewed, meaning there are some heavier outliers that stretch the data to the right. This pattern aligns with the earlier summary statistics, where the mean was around 81 kg but the maximum reached 136 kg.

**Example 15.** Create a `DataFrame` that includes only characters who are not Human or Droid, and one that includes only characters who are Droids.

In [ ]:
# Creates a new DataFrame with all characters who are NOT Human AND NOT Droid
# The != operator means "not equal to"
# The & operator is used to combine both conditions
other = starwars[(starwars["species"] != "Human") & (starwars["species"] != "Droid")]

# Creates a new DataFrame with only the characters whose species is Droid
droid = starwars[starwars["species"] == "Droid"]

**Example 16.** Create a histogram to visualize the distribution of mass for all characters who are not Human or Droid.

In [ ]:
# Creates a histogram of the 'mass' column for characters who are not Human or Droid
# edgecolor="white" adds a white border around each bar
other["mass"].hist(edgecolor="white")

# Turns off the background grid
plt.grid(False);

**Output Observations:** This histogram shows the distribution of mass for characters who are not Human or Droid. Most characters in this group have a mass under 200 kg, with the majority concentrated in the lowest range. However, there are a few extreme outliers with much higher mass values; one even above 1200 kg—which causes the chart to be right-skewed. These outliers stretch the x-axis and make the bulk of the data appear compressed on the left side of the plot.

In [ ]:
# Sorts the 'mass' values for characters who are not Human or Droid
# Values are sorted from largest to smallest (descending order)
other["mass"].sort_values(ascending=False)

In [ ]:
# Sorts the 'mass' values for non-Human, non-Droid characters in descending order
# [1:] removes the first (largest) value to reduce the effect of the outlier
# Creates a histogram of the remaining mass values
# edgecolor="white" adds a white border around each bar
other["mass"].sort_values(ascending=False)[1:].hist(edgecolor="white")

# Turns off the background grid
plt.grid(False);

**Output Observations:** This histogram shows the distribution of mass for non-Human, non-Droid characters after removing the largest outlier. Without the extreme value, most characters now have a mass between about 40 and 100 kg, with the highest concentration around 60 to 80 kg. A few characters still have higher masses (up to around 150 kg), but the overall shape is more balanced and could be viewed a slightly bi-modal or even right-skewed, even though most fall within a moderate range.

### Calculating

**Example 17.** Convert all the heights in the `starwars` dataframe from meters to centimeters.

In [ ]:
# Converts the 'height' column from centimeters to meters
# Divides each value in the 'height' column by 100
# This returns a Series of height in meters for each character
starwars["height"] / 100

**Example 18.** Create a new column in the `starwars` `DataFrame` called `height_m` that stores each character's height in meters. Then, display all column names to confirm that the new column was added.

In [ ]:
# Creates a new column called 'height_m' by converting height from centimeters to meters
starwars["height_m"] = starwars["height"] / 100

# Displays the names of all columns to confirm the new column was added
starwars.columns

**Example 19.** Calculate the Body Mass Index (BMI) for each character.

In [ ]:
# Calculates BMI using the formula: mass (kg) divided by height (m) squared
# 'mass' in kilograms
# 'height_m' in meters
# This returns a Series of BMI values for each character
starwars["mass"] / (starwars["height_m"]**2)

**Example 20.** Create a new column called `bmi` in the `starwars` `DataFrame` by calculating the Body Mass Index (BMI) for each character. Then display the column names to confirm the new column was added.

In [ ]:
starwars["bmi"] = starwars["mass"] / (starwars["height_m"]**2)
starwars.columns

**Example 21.** Create a list that classifies each character as either `"Human"`, `"Droid"`, or `"Other"` based on the value in the `species` column.

In [ ]:
# Create an empty list to store the new species labels
species = []

# Loop through each value in the 'species' column
for label in starwars["species"]:
    
    # If the species is Human or Droid, keep the original label
    if label in ["Human", "Droid"]:
        species.append(label)
    
    # If the species is something else, label it as "Other"
    else:
        species.append("Other")

# Print the final list of species labels
print(species)

**Example 22.** Use the `.isin()` method to filter the the `starwars` `DataFrame` to identify which rows correspond to characters whose species is either Human or Droid.

In [ ]:
# Checks if the value in the 'species' column is either "Human" or "Droid"
# .isin() returns True if the species is in the list, otherwise False
# This returns a Series of True/False values
starwars["species"].isin(["Human", "Droid"])

**Example 23.** Use `np.where` to create an array that classifies each character as either `"Human"`, `"Droid"`, or `"Other"` based on the value in the species column.

In [ ]:
# Uses np.where to classify species as "Human", "Droid", or "Other"
# The first argument checks if each species is either "Human" or "Droid"
# The second argument keeps the original species if the condition is True
# The third argument replaces all other species with "Other"
# This returns a numpy array with values
np.where(starwars["species"].isin(["Human", "Droid"]), starwars["species"], "Other")

`group_species` is a user-defined function that classifies a species value as either `"Human"`, `"Droid"`, or `"Other"`. It takes a single input, `s`, which must be a string of `None`. If the input is `"Human"` or `"Droid"`, the function returns that same value. If the input is anything other species name or missing values, it returns `"Other"`.

In [ ]:
def group_species(s):
    """
    Classifies a species value as 'Human', 'Droid', or 'Other'.
    
    Examples:
    
    group_species("Human")  returns "Human"
    group_species("Rodian") returns "Other"
    group_species("Droid")  returns "Droid"

    Parameters:
    s: A single species value from the dataset.

    Returns:
    str: Returns 'Human' or 'Droid' if the input matches those values. 
         Otherwise returns 'Other'.
         
    Precondition: s is a string or None
    """
    if s in ["Human", "Droid"]:
        return s
    else:
        return "Other"

In [ ]:
# .apply() runs the group_species function on each value in the 'species' column
# It goes through the column one row at a time
# This returns a Series of values of 'Human', 'Droid', or 'Other'
starwars["species"].apply(group_species)

You can use any of the previously demonstrated programming techniques to add a column to the `starwars` `DataFrame`. 

```python
starwars["species_grps"] = species
starwars["species_grps"] = starwars["species"].apply(group_species)
starwars["species_grps"] = np.where(starwars["species"].isin(["Human", "Droid"]), starwars["species"], "Other")
```

**Example 24.** Choose a technique to add a new column to the `starwars` `DataFrame` that classifies each character as `"Human"`, `"Droid"`, or `"Other"` based on their species.

In [ ]:
starwars["species_grps"] = ...
starwars.columns

### Grouping

In [ ]:
# The .groupby() method is used to group the DataFrame by the 
# values in 'species_grps' column
# It creates a GroupBy object that allows you to perform 
# operations separately for each group
starwars.groupby("species_grps")

In [ ]:
# Uses the .groupby() method to group the DataFrame by the 'species_grps' column
# Stores the resulting GroupBy object in the variable 'grps'
grps = starwars.groupby("species_grps")

# Accesses the dictionary of group labels (keys) from the GroupBy object
# This returns a view object with the unique values 
# in 'species_grps' that were used to form the groups
grps.groups.keys()

In [ ]:
# Accesses the .groups attribute of the GroupBy object
# This returns a dictionary where the keys are group labels (e.g., 'Human', 'Droid', 'Other')
# and the values are lists of row indices from the DataFrame that belong to each group
grps.groups

**Example 25.** Use the `grps` `GroupBy` object to calculate the average mass for each species group.

In [ ]:
# Selects the 'mass' column from the GroupBy object 'grps'
# Uses the .mean() method to calculate the average mass for each group in 'species_grps'
# Returns a Series showing the mean mass for Humans, Droids, and Other species
grps["mass"].mean()

**Output Observations:** 

- Droids have the lowest average mass at about 59.4 kg, which may reflect compact mechanical designs or smaller body types.

- Humans have an average mass of 80.9 kg, which is typical for an adult and falls within a normal range depending on height.

- Other species have the highest average mass at 109.8 kg, suggesting that many non-human characters in the Star Wars universe are larger-bodied or denser than humans or droids.

**Example 26.** Use the `grps` `GroupBy` object to count how many times each homeworld appears within each species group.

In [ ]:
# Selects the 'homeworld' column from the GroupBy object 'grps'
# Applies .value_counts() to count how many times each homeworld appears within each species group
# Returns a Series with counts of homeworlds for 'Human', 'Droid', and 'Other' groups
grps["homeworld"].value_counts()

**Example 27.** Create a box plot to compare the distribution of character heights across the three species groups: `"Human"`, `"Droid"`, and `"Other"`.

In [ ]:
# Creates a box plot of the 'height' column grouped by 'species_grps'
# This shows the median, quartiles, and possible outliers for each group
starwars.boxplot(column="height", by="species_grps")

# Turns off the background grid
plt.grid(False);

**Output Observations:** 

- Droids have the widest range of heights, with values spread from around 70 cm to 200 cm. Their heights are more varied, and the box is larger, indicating more variability in the middle 50% of values.

- Humans have the most consistent height distribution. Their heights are tightly clustered around the median of approximately 180 cm, with very few outliers and a narrow interquartile range.

- Other species show a higher median height than Droids and Humans and also have the largest number of outliers, both on the short and tall ends. This group has a broader spread and more variability overall.

### Merging

### Popular Baby Names Dataset

This dataset contains state-specific data on the relative frequency of given names for individuals issued a Social Security Number in the United States. Data is tabulated from Social Security Administration records as of March 2, 2025. The files include annual birth name frequencies by sex and state, beginning in 1910, for all 50 states and the District of Columbia.

Each file lists names with at least 5 occurrences in a given year to protect individual privacy. Records are sorted by sex, year, and descending frequency, with alphabetical order breaking ties, which enables direct rank determination.

#### Popular Baby Names Datasheet

[Popular Baby Names Datasheet](https://docs.google.com/document/d/1uMFpRbvO1NhGVvfRSw3eDpp1O-6a7UeLE3GeZ8OfTuM/edit?usp=sharing)

Social Security Administration. (n.d.). Popular baby names: Data limits and exclusions. Retrieved March 2, 2025, from https://www.ssa.gov/oact/babynames/limits.html

The code below loads a subset of state files into separate dataframes. The table that follows shows how each file corresponds to its respective dataframe.

|State|Abbreviation|
|:-----|:------------|
|Indiana| `ind`|
|Michigan| `mich`|
|Ohio| `ohio`| 
|Pennsylvania| `penn`|
|North Carolina| `nc`|

In [ ]:
ind = pd.read_csv("data/IN.TXT")
mich = pd.read_csv("data/MI.TXT")
ohio = pd.read_csv("data/OH.TXT")
penn = pd.read_csv("data/PA.TXT")
nc = pd.read_csv("data/NC.TXT")

It’s good practice to inspect the structure and metadata of a `DataFrame` using the `.info()` method.

**Structure** refers to the overall layout of the `DataFrame`, including:
- Number of rows and columns
- Column names
- Data types (e.g., int64, object, float64)
- Index type and range

**Metadata** refers to information about the data rather than the data itself, including:
- Which columns contain missing values (non-null counts)
- Total memory usage
- Index type

**Example 27.** Run the cell below. What do you notice?

In [ ]:
ohio.info()

**Output Observations:** 

- No missing values: All five columns have 213,756 non-null entries, which means the dataset has no missing values.

- Column names look like data, not labels: The column names are values like "OH", "F", "1910", "Mary", and "1099"—these are likely meant to be the first row of data, not actual column headers. These suggest the header row was not correctly read, and the first row of actual data became the column names.

Let's look at the first 5 rows.

In [ ]:
ohio.head()

In [ ]:
# Reads the 'OH.TXT' file from the 'data' folder into a DataFrame named 'ohio'
# header=None tells pandas that the file does not have a header row, so it should 
# not treat the first row as column names
# Default column names will be assigned as integers: 0, 1, 2, 3, etc.
ohio = pd.read_csv("data/OH.TXT", header=None)

In [ ]:
ohio.info()

**Example 28.** Rename the columns of the `ohio` `DataFrame` as `state`, `sex`, `year`, `name`, and `count`. Then, display all column names to confirm that the new column was added.

In [ ]:
# Assigns custom column names to the 'ohio' DataFrame
# These names replace the default numeric column 
# labels (0, 1, 2, 3, 4)
ohio.columns = ['state', 'sex', 'year', 'name', 'count']
ohio.columns

In [ ]:
ohio.info()

**Example 29.** Filter the `ohio` `DataFrame` for the name "Alexa" to see how its popularity has changed overtime.

In [ ]:
name = "Alexa"

# Creates a Boolean mask that is True for rows where the 'name' column matches the variable 'name'
mask = ohio["name"] == name

# Uses the mask to filter the DataFrame and return only the matching rows
# Then selects the 'year' and 'count' columns using double brackets [[...]] to return a DataFrame
ohio[mask][["year", "count"]]

**Example 30.** Create a line chart to visualize how the popularity of the name "Alexa" has changed over time.

In [ ]:
ohio[ohio["name"] == name].plot(x="year", y="count", kind="line");

**Output Observations:** This line chart shows the number of babies named Alexa each year. From the 1950s through the early 1980s, the name was used very rarely. Starting around the mid-1980s, its popularity began to rise sharply, peaking between 1995 and 2010, with counts exceeding 150 per year. After that, there is a dramatic decline, especially after 2015, where the number of babies named Alexa drops rapidly. This suggests that the name experienced a strong surge in popularity followed by a steep decline. This was most likely influenced by cultural or technological factors (such as the release of Amazon’s Alexa in 2014).

**Example 31.** Merge the Michigan data with the Ohio data.

In [ ]:
mich = pd.read_csv("data/MI.TXT", header=None)
mich.columns = ['state', 'sex', 'year', 'name', 'count']
mich.info()

In [ ]:
# Combines the 'ohio' and 'mich' DataFrames into a single DataFrame using pd.concat()
# ignore_index=True resets the row index so it runs from 0 to n-1 in the combined DataFrame
pd.concat([ohio, mich], ignore_index=True)

In [ ]:
# Stores the combined data from both Ohio and Michigan in a DataFrame
ohio_mich = pd.concat([ohio, mich], ignore_index=True)

# Displays the combined DataFrame with data from both Ohio and Michigan
# By default the first 5 and the last 5 rows are shown
ohio_mich

### Joining

### CEO Compensation Summary Dataset

The data from the AFL-CIO Executive Paywatch database draws from company proxy statements that are filed with the U.S. Securities and Exchange Commission and collected by [pay-gap.com](https://aflcio.org/paywatch/pay-gap.com). The database includes data for some 3,000 corporations, including most of those listed in the Russell 3000 Index. Industry classifications are based on North American Industry Classification System codes.

#### CEO Compensation Summary Datasheet

[CEO Compensation Summary Datasheet](https://docs.google.com/document/d/1AJriZiqMarx8-r4WZwoXoCkFKLEDpq2jt0V6t5_tQLM/edit?usp=drive_link)

AFL-CIO. (n.d.). Highest-Paid CEOs. Retrieved 2022, from https://aflcio.org/paywatch/highest-paid-ceos

In [ ]:
ceo = pd.read_csv("data/ceo_compensation_summary.csv")
ceo.info()

In [ ]:
ceo.head()

### Compnay Information Dataset

The companies in this dataset come from the AFL-CIO Executive Paywatch database, which compiles data from company proxy statements filed with the U.S. Securities and Exchange Commission and collected by paygap.com. The dataset includes approximately 3,000 corporations, primarily those listed in the Russell 3000 Index, with industry classifications based on North American Industry Classification System (NAICS) codes. To supplement this dataset, additional company information including sector, industry, and market capitalization was collected using the Python yfinance library, which provides streamlined access to company data from Yahoo Finance.

#### Compnay Information Datasheet

[Compnay Information Datasheet](https://docs.google.com/document/d/1t_J1RKSpc8qXhozS8F1K82Ac-429zETQUJXT8PvRCm0/edit?usp=sharing)

Ran, A. (2019). yfinance: Yahoo! Finance market data downloader [Python library]. https://github.com/ranaroussi/yfinance

In [ ]:
company = pd.read_csv("data/company_information.csv")
company.info()

In [ ]:
company.head()

**Example 32.** Display the column names from the both the `ceo` and the `company` `DtatFrame`.

In [ ]:
print("Colimns in the ceo dataframe")
print(ceo.columns)
print("\n")
print("Columns in the company dataframe")
print(company.columns)

**Example 33.** Display the information in the first row of the `ceo` `DataFrame`.

In [ ]:
# .loc is a label-based accessor used to retrieve rows (and optionally columns) by index label
# This line retrieves the row in the 'ceo' DataFrame with index label 0
# It returns all column values for that row as a Series
ceo.loc[0]

**Example 34.** Display the information in the first row of the `company` `DataFrame`.

In [ ]:
# .loc is a label-based accessor used to retrieve rows (and optionally columns) by index label
# This line retrieves the row in the 'company' DataFrame with index label 0
# It returns all column values for that row as a Series
company.loc[0]

**Example 35.** Use `pd.merge()` to combine the `ceo` and `company` dataframes based on the shared `ticker` column.

In [ ]:
# Merges the 'ceo' and 'company' DataFrames using the 'ticker' column as the key
# Only rows with matching 'ticker' values in both DataFrames will be included (inner join by default)
# Returns a new DataFrame that combines columns from both sources
pd.merge(ceo, company, on="ticker")